@{
    ViewBag.Title = "Index";
}

<section class="content-header"></section>
<section class="content">
    <div class="row">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span>
        </h3>
        @Html.Partial("~/Views/Dashboard/Dash.cshtml")
        <div class="col-xs-12">
            <h4 style="color: #0404B4;">Bank for Investment and Development of Cambodia Plc.</h4>
            <p>#370 Preah Monivong Blvd, Boeung keng kang I, Khan Chamkarmon, Phnom Penh, Cambodia</p>
        </div>
    </div>
</section>